<div class="container">
    <div class="row">
        <div class="col text-center">
            <img src="./img/yoi.jpg" alt="Rizqi Muttaqin" class="img-thumbnail rounded-circle" width="200" >
            <h1 class="display-4">Rizqi Muttaqin</h1>
            <p class="lead">Pelajar yang suka belajar</p>
        </div>

    </div>
</div>